/* Buat Navbar */

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Original Surfer;
    font-size: 30px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 25px;
}


/* jumbotron */

.jumbotron {
    background-image: url(img/bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 35px;
}

.jumbotron .display-4 span {
    font-weight: 500;
    font-style: italic;
}


/* panel */

.panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -130px;
    background-color: white;
    padding: 30px;
}

.panel img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.panel h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.panel p {
    font-size: 15;
    font-weight: 180;
    margin-top: -5px;
    color: #ACACAC;
}


/* tombol */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* responsif */

@media (min-width: 992px) {
    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #005eff;
        width: 50%;
        padding-bottom: 5px;
        margin: auto;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }
    .jumbotron .display-4 {
        font-size: 62;
    }
}
/*Footer*/
.text-uppercase{
    font-family: Original Surfer;
}
.text-white{
    font-family: original Surfer;
}